

.logo {
    /* background-color: cornflowerblue; */
    background-image: url('./image/sunset-1373171__480.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
input {
    padding: 3px 10px;
}